.btn {
    transition: background-color .2s;

    &.btn-secondary {
        &:hover {
            background-color: $primary !important;
        }
    }
}

.wp-block-button {
    &.is-style-outline {
        .wp-element-button {
            border-width: 1px !important;
            transition: border .2s;

            &:hover {
                border-color: $primary !important;
            }
        }
    }
}